
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.row.d-flex{
  .card{
    height: 100%;
  }

  .card-body{
    position: relative;
    padding-bottom: 45px;
  }

  .bottom{
    position: absolute;
    bottom: 15px;
  }
}

ul.duel-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}